/* debug */
/* [class*="col-"] {
    background-color: aquamarine;
    border: 1px solid black;
    height: 100%;
} */

.ms_hr  {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    margin: 20px;
    padding: 0;
    border:2px solid;
}
.ms_hr_black {
    border: 1px solid;
}
.ms_hr_white {
    border: 1px solid white;
}
.fa-star {
    font-size: 30px;
    margin-top: 20px;
}


body {
    font-family: 'Lato', sans-serif;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

h2, h3 {
    text-transform: uppercase;
}

.white_text {
    color: white;
}

.black_text {
    color: black;
}

h2 {
    font-size: 50px;
}

#portfolio, 
#about, 
#contact {
    padding: 50px 0;
}

/* header */
header {
    text-transform: uppercase;
    width: 100%;
    position: relative;
}

/* navbar */
nav {
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    z-index: 2;
}
.ms_navbar {
    background-color: #2c3e50;
    margin: 0 auto;
}

.ms_navbar a {
    text-transform: uppercase;
    border-radius: 0px;
    transition: all 0.3s;
    color: white;
    font-size: 20px;
}
.ms_navbar_right {
    background-color: #2c3e50;
}
.ms_navbar_right a:hover {
    background-color: #2c3e50;
    color: #1abc9c;
}
.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #2c3e50;
}
.icon_bar {
    background-color: #888888;
}

.burger_button {
    border: 1px solid white;
    margin: 22px;
}

.ms_navbar.navbar>.container .navbar-brand, .ms_navbar.navbar-nav>li>a {
    margin-top: 13px;
}
ul.nav.navbar-nav.navbar-right {
    margin-top: 13px;
}
@media screen and (min-width: 768px) {

    .ms_navbar {
        border-radius: 0 px;
    }
}

nav,
.bg_darkgrey {
    background-color: #2c3e50;
    height: 80px;
}

 /* jumbotron */
.bg_green {
    background-color: #1abc9c ;
}

.jumbotron img {
    width: 240px;
}
.list-inline {
    text-decoration: none;
}


/* portfolio */
.images img {
    border-radius: 25px;
    padding: 15px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 0.4s;
}

/* about */
#about p {
    font-size: 23px;
    padding: 30px;
}

.btn_download {
    background-color: #1abc9c;
    border: 1px solid white;
    color: white;
    transition: all 0.3s;
}
.fa-download {
    margin-right: 10px;
}

.btn_download:hover {
    background-color: white;
    color: black;
}

/* contact */
#contact h2 {
    text-align: center;
}

.ms_form {
    border: none;
    box-shadow: none;
}

.ms_form::placeholder {
    color: black;
    font-size: 20px;
}

form hr {
    border-color: black;
}

.btn_send {
    transition: all 0.3s;
    background-color: #1abc9c;
    color: white;
    font-size: 18px;
}
.btn_send:hover {
    background-color: #159a80;
    color: white;
}

/* footer */
footer {
    background-color: #3a546d ;
}

footer p {
    font-size: 18px;
    padding: 10px 20px 20px;
}

.fab {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.3s;
    color: white;
}
.fa-facebook-f {
    padding: 15px 20px;
}

.fab:hover {
    background-color: white;
    color: #2c3e50;
}
footer span {
    color: #1abc9c;
}
.bottom_footer {
    vertical-align: middle;
}
#ms_copyright {
    line-height: 80px;
}

