/* debug */
/* [class*="col-"] {
    background-color: aquamarine;
    border: 1px solid black;
    height: 100%;
} */

.ms_hr {
    display: inline-block;
}
hr {
    border: 1px solid black;
}
/* debug */

body {
    font-family: 'Lato', sans-serif;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

h2, h3 {
    text-transform: uppercase;
}

.white_text {
    color: white;
}

h2 {
    font-size: 50px;
}

#portfolio, 
#about, 
#contact {
    padding: 50px 0;
}

/* header */
header {
    text-transform: uppercase;
    width: 100%;
    position: relative;
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.ms_navbar {
    background-color: #2c3e50;
    margin: 0 auto;
}

.ms_navbar a {
    text-transform: uppercase;
    border-radius: 0px;
    color: white;
}

.icon_bar {
    background-color: #888888;
}

.burger_button {
    border: 1px solid white;
}

@media screen and (min-width: 768px) {

    .ms_navbar {
        border-radius: 0 px;
    }
}

nav,
.bg_darkgrey {
    background-color: #2c3e50;
    height: 80px;
}

 /* jumbotron */
.bg_green {
    background-color: #1abc9c ;
}

.jumbotron img {
    width: 240px;
}
.list-inline {
    text-decoration: none;
}

/* .jumbotron hr {
    display: inline;
} */



/* portfolio */
.images img {
    border-radius: 25px;
    padding: 15px;
    max-width: 100%;
    height: auto;
    display: block;
}

/* about */
#about p {
    font-size: 23px;
    padding: 30px;
}

.btn_download {
    background-color: #1abc9c;
    border: 1px solid white;
    color: white;
}
.fa-download {
    margin-right: 10px;
}

/* contact */
#contact h2 {
    text-align: center;
}
.contact p {
    text-align: left;
}

.ms_form {
    border: none;
    box-shadow: none;
}

.ms_form::placeholder {
    color: black;
    font-size: 20px;
}

form hr {
    border-color: black;
}

.btn_send {
    background-color: #1abc9c;
    color: white;
    font-size: 18px;
}


/* footer */
footer {
    background-color: #3a546d ;
}
